<canvas id='march-canvas' width="1650" height="1275"></canvas>

<div class='march-print-message'>
    If you're looking to print this, use the buttons on the page to generate a pdf and print that instead.
</div>

<div class="l-side-margins">
    <div class="march march--east">
        {{> templates/partials/header }}
        {{> templates/partials/tabs }}

        <div class='march-scroll'>
            {{> templates/partials/rounds }}
            {{> templates/partials/bracket }}
        </div>

        {{> templates/partials/bar }}
    </div>
</div>

<script async src='@@assetPath@@/app.js'></script>