<div class='march-bracket march-bracket--top'>
    <div class='gs-container'>
        <div class='march-bracket__inner'>
            <h2 class='march-bracket__label march-bracket__label--east'>East</h2>
            <h2 class='march-bracket__label march-bracket__label--midwest'>Midwest</h2>
            <div class='march-round march-round--first' data-round='1' data-region='east'>
                {{#each East}}
                    {{> templates/partials/matchup index=@index team=@this}}
                {{/each}}
            </div>
            <div class='march-round march-round--second' data-round='2' data-region='east'>
                {{#loop 0 7 1}}
                    {{> templates/partials/matchup index=@index}}
                {{/loop}}
            </div>
            <div class='march-round march-round--regional-semis' data-round='3' data-region='east'>
                {{#loop 0 3 1}}
                    {{> templates/partials/matchup index=@index}}
                {{/loop}}
            </div>
            <div class='march-round march-round--regional-finals' data-round='4' data-region='east'>
                {{#loop 0 1 1}}
                    {{> templates/partials/matchup index=@index}}
                {{/loop}}
            </div>
            <div class='march-round march-round--regional-finals march-round--reverse' data-round='4' data-region='midwest'>
                {{#loop 0 1 1}}
                    {{> templates/partials/matchup index=@index}}
                {{/loop}}
            </div>
            <div class='march-round march-round--regional-semis march-round--reverse' data-round='3' data-region='midwest'>
                {{#loop 0 3 1}}
                    {{> templates/partials/matchup index=@index}}
                {{/loop}}
            </div>
            <div class='march-round march-round--second march-round--reverse' data-round='2' data-region='midwest'>
                {{#loop 0 7 1}}
                    {{> templates/partials/matchup index=@index}}
                {{/loop}}
            </div>
            <div class='march-round march-round--first march-round--reverse' data-round='1' data-region='midwest'>
                {{#each Midwest}}
                    {{> templates/partials/matchup index=@index team=@this}}
                {{/each}}
            </div>
        </div>
    </div>
</div>
<div class='march-bracket march-bracket--middle'>
    <div class='gs-container'>
        <span class='march-round-label'><strong>Final Four</strong>April 1-3</span>
        <div class='march-round march-round--semis' data-round='5' data-region='east midwest'>
            {{#loop 0 1 1}}
                {{> templates/partials/matchup index=@index}}
            {{/loop}}
        </div>
        <div class='march-round march-round--final' data-round='6'>
            {{#loop 0 1 1}}
                {{> templates/partials/matchup index=@index}}
            {{/loop}}
        </div>
        <div class='march-round march-round--winner' data-round='7'>
            <div class='march-bracket__matchup' data-match-number='{{ match-number index }}'><!-- is closed in matchup.html -->
            {{> templates/partials/matchup }}
        </div>
        <div class='march-round march-round--semis' data-round='5' data-region='south west'>
            {{#loop 0 1 1}}
                {{> templates/partials/matchup index=@index}}
            {{/loop}}
        </div>
    </div>
</div>
<div class='march-bracket march-bracket--bottom'>
    <div class='gs-container'>
        <div class='march-bracket__inner'>
            <h2 class='march-bracket__label march-bracket__label--south'>South</h2>
            <h2 class='march-bracket__label march-bracket__label--west'>West</h2>
            <div class='march-round march-round--first' data-round='1' data-region='south'>
                {{#each South}}
                    {{> templates/partials/matchup index=@index team=@this}}
                {{/each}}
            </div>
            <div class='march-round march-round--second' data-round='2' data-region='south'>
                {{#loop 0 7 1}}
                    {{> templates/partials/matchup index=@index}}
                {{/loop}}
            </div>
            <div class='march-round march-round--regional-semis' data-round='3' data-region='south'>
                {{#loop 0 3 1}}
                    {{> templates/partials/matchup index=@index}}
                {{/loop}}
            </div>
            <div class='march-round march-round--regional-finals' data-round='4' data-region='south'>
                {{#loop 0 1 1}}
                    {{> templates/partials/matchup index=@index}}
                {{/loop}}
            </div>
            <div class='march-round march-round--regional-finals march-round--reverse test' data-round='4' data-region='west'>
                {{#loop 0 1 1}}
                    {{> templates/partials/matchup index=@index}}
                {{/loop}}
            </div>
            <div class='march-round march-round--regional-semis march-round--reverse' data-round='3' data-region='west'>
                {{#loop 0 3 1}}
                    {{> templates/partials/matchup index=@index}}
                {{/loop}}
            </div>
            <div class='march-round march-round--second march-round--reverse' data-round='2' data-region='west'>
                {{#loop 0 7 1}}
                    {{> templates/partials/matchup index=@index}}
                {{/loop}}
            </div>
            <div class='march-round march-round--first march-round--reverse' data-round='1' data-region='west'>
                {{#each West}}
                    {{> templates/partials/matchup index=@index team=@this}}
                {{/each}}
            </div>
        </div>
    </div>
</div>