<div class='march-bracket'>
    <div class='gs-container'>
        <div class='march-round march-round--first'>
            <div class='march-bracket__matchup'>
                <div class='march-bracket__team'>
                    <img class='march-bracket__logo' src='@@assetPath@@/badges/villanova.png' />
                    <h3 class='march-bracket__team-name'>Villanova</h3>
                    <h3 class='march-bracket__seed'>16</h3>
                </div>
            </div>
        </div>
    </div>
</div>