<div class='march-header'>
    <div class='gs-container'>
        <div class='march-header__content'>
            <h2 class='march-header__label'>Men&rsquo;s</h2>
            <br />
            <h1 class='march-header__title'>March Madness 2018</h1>
            <br />
            <h2 class='march-header__sub'>Pick your own bracket</h2>

            <div class='march-header__content-bottom'>
                <p class='march-header__intro'>March Madness is upon us: 68 teams, 67 games, three pulse-pounding weeks, one national champion. Now it's time to pick your bracket. Either print out a copy or make your selections on our interactive bracket below</p>
                <a class='march-header__print-button'>Printable bracket</a>
                {{> templates/partials/share }}
            </div>
            <img class='march-header__cutout march-header__cutout--1' src='@@assetPath@@/assets/images/cutout-1.png' />
            <img class='march-header__cutout march-header__cutout--2' src='@@assetPath@@/assets/images/cutout-2.png' />
            <img class='march-header__cutout march-header__cutout--3' src='@@assetPath@@/assets/images/cutout-3.png' />
            <div class='march-header__circle'></div>
        </div>
    </div>
</div>