<div class='march-header'>
    <div class='gs-container'>
        <div class='march-header__content'>
            <h1 class='march-header__title'>March madness 2017 bracket</h1>
            <div class='march-header__content-bottom'>
                <p class='march-header__intro'>Something something something one time a year. something something something basketball. something something college maybe, I’m not entirely sure. Anyway you can print this or do it on the website.</p>
                <a class='march-header__print-button'>View printable version</a>
                <a class='march-header__button march-header__button--facebook'></a>
                <a class='march-header__button march-header__button--twitter'></a>
                <a class='march-header__button march-header__button--email'></a>
            </div>
        </div>
    </div>
</div>