<div class='march-header'>
    <div class='gs-container'>
        <div class='march-header__content'>
            <h1 class='march-header__title'>NCAA Tournament 2017 bracket</h1>
            <div class='march-header__content-bottom'>
                <p class='march-header__intro'>March Madness is upon us: 68 teams, 67 games, three pulse-pounding weeks, one national champion. Now it's time to pick your bracket. Print a copy and fill it out by hand or do it on your browser.<a href=''>Visit the women's bracket</a><br /><br /><em>• Editor's note: a previous version of this bracket paired the incorrect regions in the Final Four. If you made your picks before Wednesday, you may need to update them.</em></p>
                <a class='march-header__print-button'>Printable bracket</a>
                {{> templates/partials/share }}
            </div>
            <img class='march-header__cutout march-header__cutout--1' src='@@assetPath@@/assets/images/cutout-1.png' />
            <img class='march-header__cutout march-header__cutout--2' src='@@assetPath@@/assets/images/cutout-2.png' />
            <img class='march-header__cutout march-header__cutout--3' src='@@assetPath@@/assets/images/cutout-3.png' />
        </div>
    </div>
</div>