{{#if_even index}}
<div class='march-bracket__matchup' data-match-number='{{ match-number index }}'>
{{/if_even}}

    {{#if team}}
    <div class='march-bracket__team is-filled' data-team='{{ Team }}'>
        <img class='march-bracket__logo' src='@@assetPath@@/assets/badges/{{ Logo }}' />
        <span class='march-bracket__team-name'>{{ Team }}</span>
        <span class='march-bracket__seed'>{{ Seed }}</span>
    </div>
    {{else}}
    <div class='march-bracket__team'></div>
    {{/if}}

{{#if_odd index}}
</div>
{{/if_odd}}