<div class='march-related'>
    <div class='gs-container'>
        <h2 class='march-related__title'>Need some help?</h2>
        <ul class='march-related__links'>
            <li class='march-related__link'><a target='_blank' href='https://www.theguardian.com/sport/blog/2017/mar/13/ncaa-tournament-west-regional-preview'><span>What you need to know</span>Top-seeded Gonzaga to make Final Four breakthrough</a></li>
            <li class='march-related__link'><a target='_blank' href='https://www.theguardian.com/sport/blog/2017/mar/13/ncaa-tournament-west-regional-preview'><span>West regional </span>Top-seeded Gonzaga to make Final Four breakthrough</a></li>
            <li class='march-related__link'><a target='_blank' href='https://www.theguardian.com/sport/blog/2017/mar/13/ncaa-tournament-south-regional-preview'><span>South regional </span>Kentucky have what it takes to topple UNC</a></li>
            <li class='march-related__link'><a target='_blank' href='https://www.theguardian.com/sport/blog/2017/mar/13/ncaa-tournament-east-regional-preview'><span>East regional </span>Villanova have inside track for rare repeat</a></li>
            <li class='march-related__link'><a target='_blank' href='https://www.theguardian.com/sport/blog/2017/mar/13/ncaa-tournament-midwest-regional-preview'><span>Midwest regional </span>Vaunted backcourt will carry Kansas</a></li>
        </ul>
        <a class='march-related__button' href='https://www.theguardian.com/sport/ncaa-tournament-2017'>Read more</a>
        <img class='march-related__image' src='@@assetPath@@/assets/images/cutout-2.png' />
    </div>
</div>