<ul class='march-rounds-labels'>
    <div class='gs-container'>
        <li class='march-round march-round--first'><strong>First round</strong>March 15-16</li>
        <li class='march-round march-round--second'><strong>Second round</strong>March 17-18</li>
        <li class='march-round march-round--regional-semis'><strong>Sweet 16</strong>March 22-23</li>
        <li class='march-round march-round--regional-finals'><strong>Elite 8</strong>March 24-25</li>
        <li class='march-round march-round--progress'><strong>Regional Winner</strong>Progresses to final four</li>
        <li class='march-round march-round--regional-finals'><strong>Elite 8</strong>March 24-25</li>
        <li class='march-round march-round--regional-semis'><strong>Sweet 16</strong>March 22-23</li>
        <li class='march-round march-round--second'><strong>Second round</strong>March 17-18</li>
        <li class='march-round march-round--first'><strong>First round</strong>March 15-16</li>
    </div>
</ul>