<ul class='march-rounds-labels'>
    <div class='gs-container'>
        <li class='march-round march-round--first'><strong>First round</strong>March 16-17</li>
        <li class='march-round march-round--second'><strong>Second round</strong>March 18-19</li>
        <li class='march-round march-round--regional-semis'><strong>Regional Semis</strong>March 23-24</li>
        <li class='march-round march-round--regional-finals'><strong>Regional Finals</strong>March 25-26</li>
        <li class='march-round march-round--regional-finals'><strong>Regional Finals</strong>March 25-26</li>
        <li class='march-round march-round--regional-semis'><strong>Regional Semis</strong>March 23-24</li>
        <li class='march-round march-round--second'><strong>Second round</strong>March 18-19</li>
        <li class='march-round march-round--first'><strong>First round</strong>March 16-17</li>
    </div>
</ul>