.march-bar {
    background-color: $c-orange;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 56px;
    padding-top: 8px;
    box-sizing: border-box;
    z-index: 3000; // because frontend is ridiculous
    font-family: 'Guardian Sans Web';
    font-size: 16px;
    transform: translateY(56px);
    transition: transform 0.3s ease-in;

    &.is-visible {
        transform: translateY(0px);
    }
}

.march-bar__share {
    float: left;
    display: flex;
    line-height: 2.5;
    margin-left: 10px;

    @include mq(mobileLandscape) {
        margin-left: 20px;
    }

    @include mq(phablet) {
        width: calc(100% - 220px);
    }
}

.march-bar__label {
    margin-right: 8px;
    display: none;

    @include mq(desktop) {
        display: block;
    }
}

.march-bar__url-input {
    border-radius: 20px;
    border: 0;
    padding-left: 12px;
    padding-right: 12px;
    margin-left: 8px;
    background-color: $c-off-white;
    flex-grow: 1;
    display: none;

    @include mq(phablet) {
        display: block;
    }

    @include mq(desktop) {
        width: 340px;
    }

    &:focus {
        outline: none;
    }
}

.march-bar__print-button {
    font-family: 'Guardian Sans Web';
    font-size: 16px;
    color: $c-orange;
    background-color: $c-black;
    background-image: url('@@assetPath@@/assets/images/arrow-right-orange.svg');
    background-repeat: no-repeat;
    background-position: right center;
    border-radius: 19px;
    padding: 8px 29px 8px 8px;
    display: inline-block;
    float: right;
    margin-right: 10px;
    position: absolute;
    right: 0;
    opacity: 0;
    transition: 0.2s ease-out opacity;

    @include mq(mobileLandscape) {
        padding: 8px 32px 8px 12px;
        background-position: right 2px center;
    }


    @include mq(mobileLandscape) {
        margin-right: 20px;
    }

    &:hover {
        text-decoration: none;
        background-color: darken($c-black, 5%);
    }

    &.is-printable {
        opacity: 1;
    }
}

.is-mobile-unprintable {
    .march-bar__share {
        width: calc(100% - 20px);

        @include mq(mobileLandscape) {
            width: calc(100% - 40px);
        }
    }

    .march-bar__label {
        display: block;
    }

    .march-bar__url-input {
        @include mq(mobileLandscape) {
            display: block;
                width: 130px;
        }
    }

    .march-bar__print-button {
        display: none;
    }
}
