#march-canvas {
    display: none;
}

.march-print-message {
    font-family: 'Guardian Egyptian Web';
    font-size: 32px;
    font-weight: 900;
    color: $c-orange !important;
    display: none;
}

@media print {
    #march-canvas,
    figure.interactive-atom,
    figure.element-atom,
    .march-print-message {
        display: block !important;
    }

    .march {
        display: none;
    }
}