.march-bracket {
    background-color: lighten($c-black, 70%);

    .march-round {
        position: relative;
        padding-top: 12px;
        padding-bottom: 12px;
        height: 100%;
        display: table-cell;
        vertical-align: middle;
        float: none;
    }

    .march-round {
        .march-bracket__matchup:after {
            content: '';
            position: absolute;
            top: 26px;
            right: -20px;
            border-top: 1px dotted darken($c-grey, 5%);
            width: 20px;
            z-index: 2;
        }

        .march-bracket__team:first-of-type:after {
            content: '';
            position: absolute;
            right: -1px;
            bottom: -11px;
            height: 20px;
            border-left: 1px dotted darken($c-grey, 5%);
        }
    }

    .march-round--second {
        background-color: lighten($c-black, 73%);

        .march-bracket__matchup {
            margin: 102px 0;
        }

        .march-bracket__team:before {
            content: '';
            position: absolute;
            left: -1px;
            top: -11px;
            height: 11px;
            border-left: 1px dotted darken($c-grey, 5%);
        }

        .march-bracket__team:last-of-type:before {
            bottom: -11px;
            top: auto;
        }
    }

    .march-round--regional-semis {
        background-color: lighten($c-black, 76%);

        .march-bracket__matchup {
            margin: 257px 0;
        }

        .march-bracket__team:before {
            content: '';
            position: absolute;
            left: -1px;
            top: -50px;
            height: 50px;
            border-left: 1px dotted darken($c-grey, 5%);
        }

        .march-bracket__team:last-of-type:before {
            bottom: -50px;
            top: auto;
        }
    }

    .march-round--regional-finals {
        background-color: lighten($c-black, 79%);

        &:after {
            content: '';
            position: absolute;
            right: 4px;
            height: 333px;
            bottom: -20px;
            border-left: 1px dotted darken($c-grey, 5%);
        }

        .march-bracket__team:before {
            content: '';
            position: absolute;
            left: -1px;
            top: -130px;
            height: 130px;
            border-left: 1px dotted darken($c-grey, 5%);
        }

        .march-bracket__team:last-of-type:before {
            bottom: -130px;
            top: auto;
        }

        .march-bracket__matchup:after {
            right: -5px;
            width: 5px;
        }
    }

    .march-round--reverse {
        .march-bracket__team:before {
            left: auto;
            right: -1px;
        }

        .march-bracket__team:after {
            left: -1px;
            right: auto;
        }

        .march-bracket__matchup:after {
            left: -20px;
            right: auto;
        }
    }

    .march-round--regional-finals.march-round--reverse {
        &:after {
            left: 4px;
            right: auto;
        }

        .march-bracket__matchup:after {
            left: -5px;
            right: auto;
        }
    }

    // final four
    .march-round--semis {
        width: 380px;
        display: block;
        margin: 0 auto;
        padding-left: 0;
        padding-right: 0;

        .march-bracket__matchup {
            display: flex;
        }

        .march-bracket__team {
            &:first-of-type {
                margin-right: 20px;
            }
        }
    }

    .march-round--final {
        display: none;
    }
}

.march-bracket--middle {
    background-color: $c-white;

    .march-round-label {
        position: absolute;
        left: 20px;
        top: 12px;
        font-family: 'Guardian Sans Web';
        font-size: 16px;
        line-height: 20px;

        strong {
            display: block;
        }
    }

    .march-bracket__team {
        height: 34px;
        font-size: 22px;
        line-height: 1.4;
    }

    .march-bracket__logo {
        width: 30px;
        top: 2px;
        margin: auto;
    }

    .march-bracket__team-name {
        padding-left: 36px;
        max-width: 170px;
    }

    .march-bracket__seed {
        bottom: 1px;
    }
}

.march-bracket--bottom {
    .march-round--regional-finals {
        &:after {
            bottom: auto;
            top: -20px;
        }
    }
}

.march-bracket__label {
    position: absolute;
    left: 250px;
    top: 290px;
    z-index: 10;
    font-family: 'Guardian Egyptian Web';
    font-size: 38px;
    font-weight: 900;
    width: 160px;
    text-align: center;
}

.march-bracket__label--midwest,
.march-bracket__label--west {
    left: auto;
    right: 250px;
}

.march-bracket__matchup {
    margin-bottom: 24px;
    position: relative;

    &:first-of-type {
        margin-top: 0 !important;
    }

    &:last-of-type {
        margin-bottom: 0 !important;
    }
}

.march-bracket__team {
    position: relative;
    border: 1px solid darken($c-grey, 5%);
    border-top: 0;
    padding: 2px;
    width: 100%;
    font-family: 'Guardian Sans Web';
    font-size: 16px;
    line-height: 1.2;
    box-sizing: border-box;
    height: 22px;

    &:first-of-type {
        margin-bottom: 10px;
    }

    &.is-winner {
        background-color: darken($c-grey, 5%);
    }
}

.march-bracket__logo {
    position: absolute;
    left: 2px;
    bottom: 2px;
    width: 20px;
}

.march-bracket__team-name {
    padding-left: 24px;
    padding-right: 16px;
    box-sizing: border-box;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    max-width: 134px;
}

.march-bracket__seed {
    position: absolute;
    right: 2px;
    bottom: 0px;
    color: lighten($c-black, 40%);
}
