.march-bracket {
    overflow: auto;
    background-color: lighten($c-black, 70%);

    .march-round {
        padding-top: 12px;
        padding-bottom: 12px;
        height: 100%;
        display: table-cell;
        vertical-align: middle;
        float: none;
    }

    .march-round--second {
        background-color: lighten($c-black, 73%);
    }

    .march-round--regional-semis {
        background-color: lighten($c-black, 76%);
    }

    .march-round--regional-finals {
        background-color: lighten($c-black, 79%);
    }
}

.march-bracket__top,
.march-bracket__bottom {
    overflow: auto;
}

.march-bracket__matchup {
    margin-bottom: 24px;
}

.march-bracket__team {
    position: relative;
    border: 1px solid $c-grey;
    border-top: 0;
    padding: 0 2px 2px 2px;
    width: 100%;
    font-family: 'Guardian Sans Web';
    font-size: 16px;
    line-height: 1.2;
    margin-bottom: 10px;
    box-sizing: border-box;
    height: 22px;
}

.march-bracket__logo {
    position: absolute;
    left: 2px;
    bottom: 2px;
    width: 20px;
}

.march-bracket__team-name {
    padding-left: 24px;
    padding-right: 16px;
    box-sizing: border-box;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    max-width: 134px;
}

.march-bracket__seed {
    position: absolute;
    right: 2px;
    bottom: 2px;
    color: lighten($c-black, 40%);
}
