.march-bracket {
    background-color: lighten($c-black, 70%);

    .march-round {
        position: relative;
        height: 100%;
        float: none;
    }

    .march-round {
        .march-bracket__matchup:after {
            content: '';
            position: absolute;
            top: 26px;
            right: -20px;
            border-top: 1px dotted darken($c-grey, 5%);
            width: 20px;
            z-index: 2;
        }

        .march-bracket__team:first-of-type:after {
            content: '';
            position: absolute;
            right: -1px;
            bottom: -11px;
            height: 20px;
            border-left: 1px dotted darken($c-grey, 5%);
        }
    }

    .march-round--second {
        background-color: lighten($c-black, 73%);

        .march-bracket__matchup {
            margin: 51px 0;
        }

        .march-bracket__team:before {
            content: '';
            position: absolute;
            left: -1px;
            top: -11px;
            height: 11px;
            border-left: 1px dotted darken($c-grey, 5%);
        }

        .march-bracket__team:last-of-type:before {
            bottom: -11px;
            top: auto;
        }
    }

    .march-round--regional-semis {
        background-color: lighten($c-black, 76%);

        .march-bracket__matchup {
            margin: 128px 0;
        }

        .march-bracket__team:before {
            content: '';
            position: absolute;
            left: -1px;
            top: -50px;
            height: 50px;
            border-left: 1px dotted darken($c-grey, 5%);
        }

        .march-bracket__team:last-of-type:before {
            bottom: -50px;
            top: auto;
        }
    }

    .march-round--regional-finals {
        background-color: lighten($c-black, 79%);

        &:after {
            content: '';
            position: absolute;
            right: 4px;
            height: 340px;
            bottom: -29px;
            border-left: 1px dotted darken($c-grey, 5%);

            @include mq($until: desktop) {
                display: none;
            }
        }

        .march-bracket__team:before {
            content: '';
            position: absolute;
            left: -1px;
            top: -130px;
            height: 130px;
            border-left: 1px dotted darken($c-grey, 5%);
        }

        .march-bracket__team:last-of-type:before {
            bottom: -130px;
            top: auto;
        }

        .march-bracket__matchup:after {
            width: 16px;
            right: -16px;

            @include mq(desktop) {
                right: -5px;
                width: 5px;
            }
        }
    }

    @include mq(desktop) {
        .march-round--reverse {
            .march-bracket__team:before {
                left: auto;
                right: -1px;
            }

            .march-bracket__team:after {
                left: -1px;
                right: auto;
            }

            .march-bracket__matchup:after {
                left: -20px;
                right: auto;
            }
        }

        .march-round--regional-finals.march-round--reverse {
            &:after {
                left: 4px;
                right: auto;
            }

            .march-bracket__matchup:after {
                left: -5px;
                right: auto;
            }
        }
    }

    // final four
    .march-round--semis {
        width: 380px;
        display: block;
        margin: 0 auto;
        padding-left: 0;
        padding-right: 0;
        padding-top: 12px;

        .march-bracket__matchup {
            display: flex;

            &:after {
                border: 1px dotted darken($c-grey, 5%);
                border-top: 0;
                height: 10px;
                top: auto;
                bottom: -10px;
                right: 0;
                left: 0;
                margin: auto;
            }
        }

        &:last-of-type .march-bracket__matchup:after {
            border-bottom: 0;
            border-top: 1px dotted darken($c-grey, 5%);
            bottom: auto;
            top: -10px;
        }

        .march-bracket__team {
            margin-bottom: 0;

            &:first-of-type {
                margin-right: 20px;
            }

            &:first-of-type:after {
                height: 0;
                border-left: 0;
                width: 5px;
                right: -5px;
                bottom: 16px;
                border-top: 1px dotted darken($c-grey, 5%);
            }

            &:last-of-type:after {
                content: '';
                position: absolute;
                height: 0;
                border-left: 0;
                width: 5px;
                left: -5px;
                bottom: 16px;
                border-top: 1px dotted darken($c-grey, 5%);
            }
        }
    }

    .march-round--final {
        display: block;
        width: 180px;
        margin: 5px auto;
        padding-top: 12px;

        .march-bracket__team {
            &:before {
                content: '';
                position: absolute;
                height: 20px;
                width: 1px;
                bottom: -20px;
                left: 0;
                right: 0;
                margin: auto;
                border-left: 1px dotted darken($c-grey, 5%);
            }
        }

        .march-bracket__team:first-of-type {
            margin-bottom: 20px;

            &:before {
                top: -20px;
                bottom: auto;
            }

            &:after {
                bottom: -20px;
            }
        }

        .march-bracket__matchup:after {
            top: 44px;
            width: 80px;
            right: -80px;
        }
    }

    .march-round--winner {
        position: absolute;
        top: 170px;
        margin: auto;
        left: 0;
        right: -530px;
        height: auto;
        width: 190px;

        @include mq(desktop) {
            top: 84px;
            width: 300px;
            right: -640px;
        }

        .march-bracket__team {
            border-color: $c-orange;
            height: 52px;

            @include mq(desktop) {
                height: 68px;
                font-size: 32px;
            }

            &:before {
                content: 'Winner';
                font-family: 'Guardian Sans Web';
                font-size: 14px;
                position: absolute;
                color: $c-black;
                top: -2px;
                left: 5px;
                font-weight: bold;

                @include mq(desktop) {
                    font-size: 16px;
                }
            }
        }

        .march-bracket__team-name {
            padding-left: 38px;
            max-width: 270px;
            margin-top: 20px;

            @include mq(desktop) {
                padding-left: 56px;
            }
        }

        .march-bracket__logo {
            width: 30px;
            top: 20px;
            left: 4px;

            @include mq(desktop) {
                width: 45px;
            }
        }

        .march-bracket__seed {
            bottom: 0;
            right: 4px;
        }

        .march-bracket__matchup:after,
        .march-bracket__team:after {
            display: none;
        }
    }
}

.march-bracket--middle {
    background-color: $c-white;

    .march-round-label {
        position: absolute;
        left: 10px;
        top: 4px;
        font-family: 'Guardian Sans Web';
        font-size: 14px;
        line-height: 20px;

        @include mq(mobileLandscape) {
            left: 20px;
        }

        @include mq(desktop) {
            font-size: 16px;
        }

        strong {
            display: block;
        }
    }

    .march-bracket__team {
        height: 34px;
        font-size: 22px;
        line-height: 1.4;
    }

    .march-bracket__logo {
        width: 30px;
        top: 2px;
        margin: auto;
    }

    .march-bracket__team-name {
        padding-left: 36px;
        max-width: 170px;
    }

    .march-bracket__seed {
        bottom: 1px;
    }

    .gs-container {
        @include mq($until: desktop) {
            padding: 80px 0;
        }
    }

    .march-bracket__final-four-button {
        font-size: 14px;
        font-family: 'Guardian Sans Web';
        color: $c-orange;
        background-image: url('@@assetPath@@/assets/images/arrow-right-orange.svg');
        background-position: right center;
        background-repeat: no-repeat;
        background-size: 28px;
        padding-right: 26px;
        position: absolute;

        &:hover {
            color: $c-black;
            text-decoration: none;
            background-image: url('@@assetPath@@/assets/images/arrow-right.svg');
        }

        &:after {
            content: '';
            position: absolute;
            width: 16px;
            border-top: 1px dotted darken($c-grey, 5%);
            top: 9px;
            left: -20px;
        }

        &--east,
        &--south {
            left: 24px;
            top: 40px;
        }

        &--midwest,
        &--west {
            right: 20px;
            top: 40px;

            &:after {
                left: auto;
                right: -20px;
            }
        }

        &--east,
        &--midwest {
            top: 98px;
        }

        &--south,
        &--west {
            top: 278px;
        }

        @include mq(desktop) {
            display: none;
        }
    }
}

.march-bracket--bottom {
    .march-round--regional-finals {
        &:after {
            bottom: auto;
            top: -29px;
        }
    }
}

.march-bracket--top,
.march-bracket--bottom {
    .march-bracket__inner {
        display: flex;
        flex-direction: row;
        height: 630px;
    }

    .march-round {
        padding-top: 0;
        padding-bottom: 0;
        width: 100px;
        display: flex;
        flex: 1;
        justify-content: center;
        flex-direction: column;
        height: 100%;

        @include mq(leftCol) {
            width: 120px;
        }

        @include mq(wide) {
            width: 140px;
        }
    }

    .march-bracket__logo {
        @include mq(desktop, leftCol) {
            display: none;
        }
    }
}

.march-bracket__label {
    position: absolute;
    top: 290px;
    z-index: 10;
    font-family: 'Guardian Egyptian Web';
    font-size: 38px;
    font-weight: 900;
    width: 160px;
    text-align: center;
    display: none;

    @include mq(desktop) {
        left: 175px;
        display: block;
    }

    @include mq(leftCol) {
        left: 200px;
    }

    @include mq(wide) {
        left: 250px;
    }
}

.march-bracket__label--midwest,
.march-bracket__label--west {
    left: auto;

    @include mq(desktop) {
        right: 175px;
    }

    @include mq(leftCol) {
        right: 200px;
    }

    @include mq(wide) {
        right: 250px;
    }
}

.march-bracket__matchup {
    margin-bottom: 24px;
    position: relative;

    &:first-of-type {
        margin-top: 0 !important;
    }

    &:last-of-type {
        margin-bottom: 0 !important;
    }
}

.march-bracket__team {
    position: relative;
    border: 1px solid darken($c-grey, 5%);
    border-top: 0;
    padding: 2px;
    width: 100%;
    font-family: 'Guardian Sans Web';
    font-size: 14px;
    line-height: 1.2;
    box-sizing: border-box;
    height: 22px;
    user-select: none;

    @include mq(desktop) {
        font-size: 16px;
    }

    &.is-filled {
        cursor: pointer;

        &:hover {
            background-color: rgba(0, 0, 0, 0.05);
        }
    }

    &:first-of-type {
        margin-bottom: 10px;
    }

    &.is-winner {
        background-color: darken($c-grey, 5%);
    }
}

.march-bracket__logo {
    position: absolute;
    left: 2px;
    bottom: 2px;
    width: 20px;
}

.march-bracket__team-name {
    padding-right: 16px;
    padding-left: 24px;
    box-sizing: border-box;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    max-width: 134px;

    @include mq(desktop) {
        padding-left: 0;
    }

    @include mq(leftCol) {
        padding-left: 24px;
    }
}

.march-bracket__seed {
    position: absolute;
    right: 2px;
    bottom: 0px;
    color: lighten($c-black, 40%);
}

// mobile tabs
@include mq($until: desktop) {
    .march-bracket {
        display: none;

        .march-round {
            display: none;
        }
    }

    .march--east .march-bracket--top,
    .march--midwest .march-bracket--top {
        display: block;
    }

    .march--south .march-bracket--bottom,
    .march--west .march-bracket--bottom {
        display: block;
    }

    .march--east .march-round[data-region='east'],
    .march--midwest .march-round[data-region='midwest'],
    .march--south .march-round[data-region='south'],
    .march--west .march-round[data-region='west'] {
        display: flex;
    }

    .march--midwest .march-bracket__inner,
    .march--west .march-bracket__inner {
        flex-direction: row-reverse;
    }

    .march--midwest,
    .march--west {
        .march-bracket__inner {
            flex-direction: row-reverse;
        }

        .march-round:last-of-type {
            padding-right: 10px;
            padding-left: 20px;
        }
    }

    .march--final-four {
        .march-bracket--middle {
            display: block;

            .march-round {
                display: block;
            }
        }
    }
}

@include mq($until: tablet) {
    .march-scroll {
        overflow-x: scroll;
        overflow-y: hidden;
        -webkit-overflow-scrolling: touch;

        & > * {
            width: 768px;
        }
    }
}

.march-round--mobile-link {
    display: flex !important;
    background-color: $c-white;

    @include mq(tablet) {
        display: none !important;
    }

    .march-bracket__progress-button {
        font-size: 14px;
        font-family: 'Guardian Sans Web';
        color: $c-orange;
        background-image: url('@@assetPath@@/assets/images/arrow-right-orange.svg');
        background-position: right center;
        background-repeat: no-repeat;
        background-size: 28px;
        padding-right: 26px;

        &:hover {
            color: $c-black;
            text-decoration: none;
            background-image: url('@@assetPath@@/assets/images/arrow-right.svg');
        }
    }
}
