.march-header {
    position: relative;
    background-color: $c-off-white;
    background-image: url('@@assetPath@@/assets/images/background.png');
    background-position: center top;
    overflow: hidden;

    .gs-container {
        height: 100%;
    }
}

.march-header__content {
    position: relative;
    padding: 12px 10px 0;
    height: 460px;
    z-index: 2;
    width: 100%;
    box-sizing: border-box;

    @include mq(mobileLandscape) {
        padding: 12px 20px 0;
        height: 400px;
    }

    @include mq(phablet) {
        width: calc(100% - 180px);
    }

    @include mq(tablet) {
        width: 460px;
        height: 450px;
    }

    @include mq(desktop) {
        width: 620px;
    }

    @include mq(leftCol) {
        margin-left: 140px;
    }

    @include mq(wide) {
        margin-left: 160px;
    }
}

.march-header__title {
    font-family: 'Guardian Egyptian Web';
    font-weight: 900;
    color: $c-white;
    font-size: 30px;
    line-height: 1.2;
    margin: 0;
    display: inline;
    background: linear-gradient($c-blue, $c-blue) no-repeat;
    box-shadow: 6px 0 0 $c-blue, -6px 0 0 $c-blue;

    @include mq(tablet) {
        font-size: 56px;
        width: calc(100% + 100px);
    }

    @include mq(desktop) {
        font-size: 58px;
    }
}

.march-header__label {
    font-family: 'Guardian Egyptian Web';
    font-weight: 900;
    font-style: italic;
    color: $c-yellow;
    font-size: 16px;
    line-height: 1.4;
    margin: 0;
    display: inline;
    background: linear-gradient($c-black, $c-black) no-repeat;
    box-shadow: 6px 0 0 $c-black, -6px 0 0 $c-black;

    @include mq(tablet) {
        font-size: 20px;
        width: calc(100% + 100px);
    }

    @include mq(desktop) {
        font-size: 24px;
    }
}

.march-header__sub {
    font-family: 'Guardian Egyptian Web';
    font-weight: 900;
    color: $c-black;
    font-size: 22px;
    line-height: 1.4;
    margin: 0;
    display: inline;
    background: linear-gradient($c-yellow, $c-yellow) no-repeat;
    box-shadow: 6px 0 0 $c-yellow, -6px 0 0 $c-yellow;

    @include mq(tablet) {
        font-size: 26px;
        width: calc(100% + 100px);
    }

    @include mq(desktop) {
        font-size: 38px;
    }
}

.march-header__content-bottom {
    @include mq(phablet) {
        position: relative;
        z-index: 2;
    }

    @include mq(tablet) {
        position: absolute;
        bottom: 12px;
        overflow: auto;
    }
}

.march-header__intro {
    font-family: 'Guardian Egyptian Web';
    font-size: 14px;
    line-height: 18px;
    color: $c-black;
    margin-bottom: 12px;
    padding-right: 100px;

    @include mq(mobileLandscape) {
        font-size: 16px;
        line-height: 20px;
    }

    @include mq(phablet) {
        padding-right: 0;
    }

    @include mq(tablet) {
        font-size: 18px;
        line-height: 22px;
    }

    a {
        color: $c-blue;
        border-bottom: $c-white 1px solid;
        text-decoration: none;

        &:hover {
            text-decoration: none;
            border-bottom-color: $c-blue;
        }
    }
}

.march-header__print-button {
    position: relative;
    z-index: 4;
    font-family: 'Guardian Sans Web';
    font-size: 16px;
    color: $c-black;
    background-color: $c-yellow;
    background-image: url('@@assetPath@@/assets/images/arrow-right.svg');
    background-repeat: no-repeat;
    background-position: right center;
    border-radius: 22px;
    padding: 8px 29px 8px 8px;
    display: inline-block;
    opacity: 0;
    transition: 0.2s ease-out opacity, 0.2s ease-out background;

    @include mq(mobileLandscape) {
        padding: 9px 44px 9px 13px;
        background-position: right 2px center;
    }

    @include mq($until: phablet) {
        display: none;
        position: absolute;
        bottom: 12px;
        left: 10px;
        z-index: 2s
    }

    &:hover {
        text-decoration: none;
        background-color: darken($c-yellow, 5%);
        background-position: right center;
    }

    &.is-printable {
        opacity: 1;
    }
}

@keyframes slideIn {
    0% {
        opacity: 0;
        transform: translateX(400px);
    }
    1% {
        opacity: 1;
        transform: translateX(20px);
    }
    33% {
        opacity: 1;
        transform: translateX(-20px);
    }
    34% {
        opacity: 0;
        transform: translateX(-400px);
    }
    100% {
        opacity: 0;
        transform: translateX(400px);
    }
}

.march-header__cutout {
    position: absolute;
    bottom: 0;
    right: -20px;
    height: 300px;
    opacity: 0;
    z-index: 1;
    animation: 18s linear slideIn infinite;
    pointer-events: none;

    @include mq(phablet) {
        right: -180px;
    }

    @include mq(tablet) {
        right: -300px;
        bottom: -100px;
        height: auto;
    }

    @include mq(desktop) {
        right: -400px;
    }

    &--1 {
        @include mq(tablet) {
            bottom: -40px;
        }
    }

    &--2 {
        animation-delay: 6s;
    }

    &--3 {
        animation-delay: 12s;
    }
}

.march-header__circle {
    position: absolute;
    bottom: -13%;
    right: -90px;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: $c-blue;

    @include mq(tablet) {
        right: -260px;
    }

    @include mq(desktop) {
        bottom: -31%;
        right: -550px;
        width: 500px;
        height: 500px;
    }
}

.march-header {
    .march-share {
        float: right;

        @include mq($until: phablet) {
            position: absolute;
            bottom: 12px;
            right: 10px;
            z-index: 2;
            display: none;
        }
    }
}