.march-header {
    position: relative;
    background-image: url('@@assetPath@@/assets/images/background.png');
    background-position: center top;
    overflow: hidden;

    .gs-container {
        height: 100%;
    }
}

.march-header__content {
    position: relative;
    padding: 0 10px;
    height: 450px;

    @include mq(mobileLandscape) {
        padding: 0 20px;
    }

    @include mq(tablet) {
        width: 460px;
    }

    @include mq(desktop) {
        margin-left: 20px;
        width: 620px;
    }

    @include mq(leftCol) {
        margin-left: 160px;
    }

    @include mq(wide) {
        margin-left: 180px;
    }
}

.march-header__title {
    font-family: 'Guardian Egyptian Web';
    font-weight: 900;
    color: $c-orange;
    font-size: 48px;
    line-height: 1;
    padding-top: 12px;

    @include mq(desktop) {
        font-size: 72px;
    }
}

.march-header__content-bottom {
    @include mq(tablet) {
        position: absolute;
        bottom: 12px;
        overflow: auto;
    }
}

.march-header__intro {
    font-family: 'Guardian Egyptian Web';
    font-size: 20px;
    line-height: 24px;
    color: $c-white;
    margin-bottom: 12px;
}

.march-header__print-button {
    font-family: 'Guardian Sans Web';
    font-size: 16px;
    color: $c-black;
    background-color: $c-orange;
    background-image: url('@@assetPath@@/assets/images/arrow-right.svg');
    background-repeat: no-repeat;
    background-position: right 4px center;
    border-radius: 19px;
    padding: 8px 40px 8px 12px;
    display: inline-block;

    &:hover {
        text-decoration: none;
        background-color: darken($c-orange, 5%);
    }
}

.march-header__cutout {
    position: absolute;
    right: -300px;
    bottom: 0;
    width: 180px;

    @include mq(tablet) {
        right: -300px;
        bottom: -100px;
        width: auto;
    }

    @include mq(desktop) {
        right: -350px;
    }
}

.march-header {
    .march-share {
        float: right;
    }
}