.march-related {
    position: relative;
    overflow: hidden;
    background: $c-black;

    .gs-container {
        min-height: 300px;
        padding: 0 10px;
        box-sizing: border-box;
        border-top: 1px solid $c-blue;

        @include mq(mobileLandscape) {
            padding: 0 20px;
        }
    }
}

.march-related__title {
    color: $c-white;
    font-size: 24px;
    font-family: 'Guardian Egyptian Web';
    font-weight: 700;
    margin-bottom: 12px;

    @include mq(desktop) {
        font-size: 38px;
        margin-bottom: 24px;
    }
}

.march-related__button {
    position: absolute;
    z-index: 4;
    font-family: 'Guardian Sans Web';
    font-size: 16px;
    color: $c-black;
    background-color: $c-yellow;
    background-image: url('@@assetPath@@/assets/images/arrow-right.svg');
    background-repeat: no-repeat;
    background-position: right 2px center;
    border-radius: 19px;
    padding: 8px 64px 8px 12px;
    display: inline-block;
    transition: 0.2s ease-out opacity;
    margin-bottom: 12px;

    &:hover {
        text-decoration: none;
        background-color: darken($c-blue, 5%);
    }
}

.march-related__image {
    position: absolute;
    top: 40px;
    right: -20px;
    max-width: 240px;

    @include mq(desktop) {
        display: block;
        right: 120px;
    }
}