.march-share {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;

    .svg {
        fill: $c-blue;
        width: 100%;
        height: 100%;
        margin: auto;
    }
}

.march-share__button {
    height: 40px;
    width: 40px;
    border-radius: 20px;
    float: left;
    margin-right: 4px;
    border: 1px solid $c-dark-grey;

    &:hover {
        border-color: $c-blue;
        background-color: $c-blue;

        .svg {
            fill: $c-white;
        }
    }
}
